.DualMode {

	@media only screen and (max-width: 767px) {
		.col-12 {
			padding-left: 4px;
			padding-right: 4px;
		}
	}
	
	@media only screen and (min-width: 992px) {
		.col-12 {
			text-align: right;
		}
		
		div.MarkedText {
			margin-left: 0;
		}
		
		div.TextArea {
			margin-right: 0;
		}
	}
	
}